<h1>All Artists</h1>

<section>
<% @artists.each do |artist| %>
<%= link_to "#{artist.name}", artist_path(artist) %><br>
<% end %>
</section>

<h2><%= link_to "Add a new artist", new_admin_artist_path %></h2>
