<h1>All venues</h1>

<section>
<% @venues.each do |venue| %>
<ul><%= link_to "#{venue.name}", venue_path(venue) %></ul>
<% end %>
</section>

<h2><%= link_to "Add a new venue", new_admin_venue_path %></h2>
