* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  color: #E9B4E6;
}

a:visited {
  text-decoration: none;
  color: #E9B4E6;
}

a:hover {
  color: white;
}

a:active {
  text-decoration: underline;
}

body {
  margin: 0;
  background-color: #55466A;
  font-family: 'Wire One', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #28162E;
  width: 100%;
  height: 15vh;
  align-items: center;
  font-family: 'Playball', cursive;
  font-size: 20px;
}


nav {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.right-align {
  justify-content: flex-end;
  padding-right: 2rem;
}
